---
import BaseLayout from '../layouts/BaseLayout.astro';
import AsciiArt from '../components/asciiArt.astro';
---

<BaseLayout pageTitle="/welcome">
  <h1>Hello there!</h1>
  <AsciiArt />
  <p>Welcome to my <b>website</b>. I don't know how you stumbled here but you're <b>welcome to stay</b>!</p>
  <p>Feel free explore the <b>tabs</b>, maybe read about me or one of my <b>boring posts</b>.</p>
</BaseLayout>