---
import BaseLayout from '../layouts/BaseLayout.astro';
import AsciiArt from '../components/asciiArt.astro';
---

<BaseLayout pageTitle="/welcome">
  <AsciiArt />
  <h1>Homepage</h1>
  <p>Welcome to my website. I don't know how you stumbled here but you're welcome to stay!</p>
  <p>Feel free explore the tabs, maybe read about me or one of my boring posts.</p>
</BaseLayout>