---
import { Image } from 'astro:assets';
import asciiName from "../../public/images/asciiName.png";
import asciiHobbies1 from "../../public/images/asciiHobbies1.png";
import asciiHobbies2 from "../../public/images/asciiHobbies2.png";
---
<div class="wrapper">
    <div class="wrapper-name">
        <Image src={asciiName} alt="My name" class="asciiName" loading="lazy"/>
    </div>

    <div class="wrapper-hobbies">
        <Image src={asciiHobbies1} alt="Hobbies part 1" class="asciiHobbies1" loading="lazy" />
        <Image src={asciiHobbies2} alt="Hobbies part 2" class="asciiHobbies2" loading="lazy" />
    </div>
</div>

<style>
    .wrapper-name {
        margin-bottom: 1rem;
        display: inline-block;
        padding: 0;
    }

    .asciiName{
        width: 80%;
        width: 600px;
    }
    .wrapper-hobbies{
        margin-bottom: 1rem;
        display: inline-block;
        padding: 0;
    }
    .asciiHobbies1 {
        width: 50%;
        height: 70px;     
    }
    .asciiHobbies2 {
        width: 47%;
        height: 70px;     
    }

    @media screen and (max-width: 540px) {
        .asciiName{
            width: 80%;
            height: 60px;
        }
        .asciiHobbies1 {
            width: 90%;
            height: 33px;    
        }
        .asciiHobbies2 {
            width: 80%;
            height: 30px;    
            padding-left: 1%;     
        }
    }
</style>