<div class="wrapper-name">
<pre class="asciiName">
 ▄▄▄▄▄▄▄                                          
███▀▀▀▀▀                          ▀▀              
███       ▄█▀█▄ ▄███▄ ████▄ ▄████ ██   ▀▀█▄ ████▄ 
███  ███▀ ██▄█▀ ██ ██ ██ ▀▀ ██ ██ ██  ▄█▀██ ██ ██ 
▀██████▀  ▀█▄▄▄ ▀███▀ ██    ▀████ ██▄ ▀█▄██ ██ ██ 
                               ██
                             ▀▀▀ 
</pre >
<pre class="asciiName">
▄▄▄▄▄▄▄         ▄▄             
███▀▀███▄       ██             
███▄▄███▀ ▄███▄ ██ ▄█▀█▄  ▀▀█▄ 
███  ███▄ ██ ██ ██ ██▄█▀ ▄█▀██ 
████████▀ ▀███▀ ██ ▀█▄▄▄ ▀█▄██ 

                   
</pre>
</div>

<div class="wrapper-hobbies">
    <pre class="asciiHobbies">
   ▄                                 
██ ▀ ▄▄   ▄▄   ▄▄ ▄▄  ▄▄ ▄▄▄▄▄▄ ▄▄▄  
██   ██▀▄▀██   ██ ███▄██   ██  ██▀██ 
██   ██   ██   ██ ██ ▀██   ██  ▀███▀ 

</pre>
<pre class="asciiHobbies"> 
▄▄ ▄▄  ▄▄▄  ▄▄   ▄▄ ▄▄▄▄▄ ▄▄     ▄▄▄  ▄▄▄▄  ▄▄▄▄  ▄▄ ▄▄  ▄▄  ▄▄▄▄   
██▄██ ██▀██ ██▀▄▀██ ██▄▄  ██    ██▀██ ██▄██ ██▄██ ██ ███▄██ ██ ▄▄   
██ ██ ▀███▀ ██   ██ ██▄▄▄ ██▄▄▄ ██▀██ ██▄█▀ ██▄█▀ ██ ██ ▀██ ▀███▀  ▄
                                                                  ▀  
</pre>
<pre class="asciiHobbies">
▄▄    ▄▄ ▄▄  ▄▄ ▄▄ ▄▄ ▄▄ ▄▄   
██    ██ ███▄██ ██ ██ ▀█▄█▀   
██▄▄▄ ██ ██ ▀██ ▀███▀ ██ ██  ▄
                            ▀ 
</pre>
<pre class="asciiHobbies">
▄▄▄▄  ▄▄▄▄▄ ▄▄ ▄▄  ▄▄▄  ▄▄▄▄   ▄▄▄▄ 
██▀██ ██▄▄  ██▄██ ██▀██ ██▄█▀ ███▄▄ 
████▀ ██▄▄▄  ▀█▀  ▀███▀ ██    ▄▄██▀ 

</pre>
<pre class="asciiHobbies">
 ▄▄▄  ▄▄  ▄▄ ▄▄▄▄    ██    ▄▄▄▄   ▄▄▄  
██▀██ ███▄██ ██▀██   ██    ██▀██ ██▀██ 
██▀██ ██ ▀██ ████▀   ██    ████▀ ▀███▀ 

</pre>
<pre class="asciiHobbies">
 ▄▄▄  ▄▄   ▄▄  ▄▄▄ ▄▄▄▄▄▄ ▄▄▄▄▄ ▄▄ ▄▄ ▄▄▄▄  
██▀██ ██▀▄▀██ ██▀██  ██   ██▄▄  ██ ██ ██▄█▄ 
██▀██ ██   ██ ██▀██  ██   ██▄▄▄ ▀███▀ ██ ██  

</pre>
<pre class="asciiHobbies">
▄▄▄▄  ▄▄▄▄   ▄▄▄   ▄▄▄▄ ▄▄▄▄   ▄▄▄  ▄▄   ▄▄ ▄▄   ▄▄ ▄▄ ▄▄  ▄▄  ▄▄▄▄ 
██▄█▀ ██▄█▄ ██▀██ ██ ▄▄ ██▄█▄ ██▀██ ██▀▄▀██ ██▀▄▀██ ██ ███▄██ ██ ▄▄ 
██    ██ ██ ▀███▀ ▀███▀ ██ ██ ██▀██ ██   ██ ██   ██ ██ ██ ▀██ ▀███▀ 

</pre>

</div>

<style>
    .wrapper-name {
        margin-bottom: 1rem;
    }
    .asciiName {
        display: inline-block;
        font-size: 1rem;
    }
    .wrapper-hobbies{

    }
    .asciiHobbies {
        display: inline-block;
        font-size: 0.4rem;
    }


@media screen and (max-width: 540px) {
    .asciiName {
        font-size: 0.45rem;
    }
    .asciiHobbies {
        font-size: 0.2rem
    }
}

@media screen and (min-width: 540px) and (max-width: 780px) {
    .asciiName {
        font-size: 0.65rem;
    }
}
</style>